{% extends "base/base_register.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Register
{% endblock %}

{% block register %}
<div class="login-form">
  <h1>Account activated.</h1>
  {% load humanize %}
  {% if account %}
    <p>Thanks for signing up! You can now <a href="/">log in</a>.</p>
  {% else %}
    <p>Sorry, it didn't work. Either your activation link was incorrect, or
    the activation key for your account has expired; activation keys are
    only valid for {{ expiration_days|apnumber }} days after
    registration.</p>
  {% endif %}
</div>
{% endblock %}