{% extends "base/base_register.html" %}
{% load staticfiles %}

{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}
TECS: Test Essay Checking Software | Password Reset
{% endblock %}

{% block register %}

<div class="login-form">
<h1>{% trans 'Password reset successful' %}</h1>

<p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
</div>
{% endblock %}
