{% extends "base/base_register.html" %}
{% load staticfiles %}

{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}
TECS: Test Essay Checking Software | Password Reset
{% endblock %}

{% block register %}
<div class="login-form">
{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
	<p class="aligned wide">
		<label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}
		<p class="text-error">{{ form.new_password1.errors.as_text|cut:"* " }}</p>
	</p>
	<p class="aligned wide">
		<label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}
		<p class="text-error">{{ form.new_password2.errors.as_text|cut:"* " }}</p>
	</p>
<p><input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
{% endblock %}
