{% extends "base/base_register.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Register
{% endblock %}

{% block register %}
	<h3>TECS: Test Essay Checking Software</h3>
	<div class="login-form">
	{% csrf_token %}

	{% if form.errors %}
	    <p class="text-error">Please correct the errors below: {{ form.non_field_errors }}</p>
	{% endif %}
	<form action = "" method = "post" class="form-horizontal">
		{% csrf_token %}
		<div class="control-group">
			{{ form.username }}
		      {% if form.username.errors %}
		        <p class="text-error">{{ form.username.errors.as_text }}</p>
		      {% endif %}
		</div>
		<div class="control-group">
				{{ form.email }}
			      {% if form.email.errors %}
			        <p class="text-error">{{ form.email.errors.as_text }}</p>
			      {% endif %}
		</div>	
		<div class="control-group">
				{{ form.password1 }}
			      {% if form.password1.errors %}
			        <p class="text-error">{{ form.password1.errors.as_text }}</p>
			      {% endif %}
		</div>
		<div class="control-group">
				{{ form.password2 }}
				{% if form.password2.errors %}
			        <p class="text-error">{{ form.password2.errors.as_text }}</p>
			      {% endif %}
		</div>
		<div class="control-group"><center>
				{{ form.captcha }}
				{% if form.captcha.errors %}
			        <p class="text-error">{{ form.captcha.errors.as_text }}</p>
			    {% endif %}
				</center>
		</div>
		<div class="control-group"><br/>
			<button class="btn btn-large btn-success" name="teacher" type="submit">Sign Up as Teacher</button>
			<button class="btn btn-large btn-success" name="student" type="submit">Sign Up as Student</button>
		</div>
		<a href="/" class="btn btn-lg btn-inverse btn-block" type="button">Cancel</a>
	</form>
	</div>
{% endblock %}