<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Check Manually</title>
<!-- Loading Bootstrap -->
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Loading Flat UI -->
<link href="css/flat-ui.css" rel="stylesheet">
<style type="text/css">
   .demo-text-box{
    color: #000;
	padding: 7px;
	border:2px solid;
	border-radius:0px;
	border-color:#1abc9c;
	}
	
  </style>
<script src="js/bootstrap-button.js"></script> 
<script>$('.btn-group').button()</script>
<script language="javascript">
 function check()
 {
    AtD.checkCrossAJAX('preview', 
    {
       success : function(errorCount) 
       {
          if (errorCount == 0)
          {
             alert("No writing errors were found");
          }
       },

       error : function(reason)
       {
          alert(reason);
       }
    });
 }
 </script>
 <script src="http://code.jquery.com/jquery-1.4.2.js"></script>
 <script src="C:/Users/Chery/Documents/GitHub/AEG/static/app_classes/atd/scripts/jquery.atd.js"></script>
<script src="C:/Users/Chery/Documents/GitHub/AEG/static/app_classes/atd/scripts/csshttprequest.js"></script>
 <link rel="stylesheet" type="text/css" media="screen" href="C:/Users/Chery/Documents/GitHub/AEG/static/app_classes/atd/css/atd.css" />
</head>
<body>
<div class = "container">
    <form class="form-horizontal">  
    	<fieldset>	
          <legend> Check Manually </legend>
          <div class="control-group"> 
          <div class="palette-turquoise">
          <div class="btn-group" data-toggle="buttons-checkbox">
            <a href="javascript:check()" type="button" class="btn btn-primary"><b>Check for Spelling and Grammatical Errors</b> <i class="fui-cross"></i></a>
            </div>
           </div>
          <div id="preview" class="demo-text-box prl">
           <h4><center><strong> My Summer Vacation </strong></center> </h4>
            <p>One day, while I'm on my way to my gran-gran's house, I saw an litle bird. It cry. I don't knpw why so I picked it up and notised blood in its left wing. I brought it with me and showed it to my gran-gran. We bandaged the little bird's wing and gave it food food.  </p>
          </div>
        </div>
          <div class="control-group">
              <label class="control-label" for="inputfeedback">Rating</label>
              <div class="controls" id= "inputfeedback">
                <p>Content
                  <input type="text" class="span1" id="criteria1" required> 
                <span class="add-on">%</span>
                </p>
                <p>  Creativity 
                  <input type="text" class="span1" id="criteria2" required>
                  <span class="add-on">%</span> <br>
                </p>
            </div>
          </div> 
          
          <div class="control-group">  
            <label class="control-label" for="inputinst">General Feedback</label>  
            <div class="controls">  
              <textarea class="input-xlarge" id="inputinst" rows="3"></textarea>  
            </div>  
          </div>
          
          <div class="form-actions">  
            <button type="submit" class="btn btn-primary"><b>Save</b> <i class="fui-check"></i></button> 
            <button type="reset" class="btn btn-warning"><b>Reset</b> <i class="fui-play"></i></button> 
            <button class="btn btn-danger"><b>Cancel</b>  <i class="fui-cross"></i></button>  
          </div>   
    	</fieldset>
    </form> 
 </div> <!--container-->

<footer>

</footer>

</body>
</html>
