{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Teacher Classes
{% endblock %}

{% block content %}
	<div class="page-content">
	<div class="span11">
		<div class="row-fluid">
			<div class="span12 content">
				<div class="row-fluid">

					{% if delete %}
						<div class="alert alert-success">
				          <strong>Success!</strong> You successfully deleted a class.
				        </div>
					{% endif %}

					{% if repeat %}
						<div class="alert alert-error">
				          <strong>Warning!</strong> You already added that class.
				        </div>
					{% endif %}

					{% if perm %}
						<div class="alert alert-error">
				          <strong>Warning!</strong> You don't have permission to add Classes.
				        </div>
					{% endif %}

					<div class="span11">
						<img class="title-icons" src="{% static 'base/img/icons/Clipboard@2x.png' %}">
						<h3 class="title">My Classes</h3>
					</div>
					<div class="span1">
						<a href="/classes/add/" data-toggle="tooltip" data-trigger="hover" data-placement="left" title data-original-title="Add New Class" class="btn btn-warning"><i class="fui-plus"></i></a>
					</div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th><center>#</center></th>
							<th><center>School Name</center></th>
							<th><center>Class Name</center></th>
							<th><center>Subject Name</center></th>
							<th><center>Students</center></th>
							<th><center>Edit</center></th>
							<th><center>Delete</center></th>
						</tr>
					</thead>
					<tbody>
						{% for classes in sections %}
							<tr>
								<td><center>{{classes.id}}</center></td>
								<td><center>{{classes.school.name}}</center></td>
								<td><center>{{classes.section}}</center></td>
								<td><center>{{classes.subject}}</center></td>
								<td><center>{{classes.section.getStudentCount}}</center></td>
								<td><center><a href="{% url 'edit' classes.id %}" class="btn btn-primary"><span class=""><i class="fui-new"></i></span></a></center></td>
								<td><center><a href="{% url 'delete' classes.id %}" onclick="return confirm('Are you sure you want to delete this class?')" class="btn btn-danger"><span class=""><i class="fui-cross"></i></span></a></center></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}