{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Home
{% endblock %}

{% block content %}
<nav class="navbar navbar-default" role="navigation">
	<link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap-responsive.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'base/css/flat-ui.css' %}" />
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
		  	<span class="icon-bar"></span>
		 	<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">TECS: Test Essay Checking Software</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Settings</a></li>
			<li><a href="#">Help</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} {{ user.last_name }} <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a href="#">My Profile</a></li>
				  <li><a href="#">Account</a></li>
				  <li><a href="{% url 'auth:user_logout' %}">Logout</a></li>
				</ul>
	  		</li>
		</ul>
  	</div>
</nav>
{% endblock %}
