{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Home
{% endblock %}

{% block content %}
<head>
	<script src="{% static 'base/js/jquery.min.js' %}"></script>
	<script src="{% static 'base/js/bootstrap-select.js' %}"></script>
	<link href="{% static 'base/css/bootstrap-select.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'base/js/bootstrap.js' %}"></script>

    <script type="text/javascript">
        $(window).on('load', function () {

            $('.selectpicker').selectpicker();

            // $('.selectpicker').selectpicker('hide');
        });
    </script>
</head>	
<div class="page-content">
	<div class="row-fluid">
		<div class="content">
			<img class="title-icons" src={% static 'base/img/icons/Clipboard@2x.png' %}>
			<h3 class="title">Enroll to Class</h3>
			{% if error %}
				<br>
				<div class="alert alert-block alert-error">
		          <h4><strong>Warning!</strong></h4>
		          {{ error }}
		        </div>
		    {% endif %}
			<form class="form-horizontal span11" action="{% url 'classes:enroll' %}" method="post">{% csrf_token %}
				<fieldset>
					{% for form in formEnroll %}
					<div class="control-group">
						<label class="control-label" for="level">{{ form.label_tag }}</label>
						<div class="controls">
							{{ form }}
							{% for error in form.errors %}
							<p class="text-error">{{ error }}</p>
							{% endfor %}
						</div>	
					</div> 
					{% endfor %}
						<br/>
					<div class="form-actions"> 
						<button type="submit" class="btn btn-primary"><b>Enroll</b> <i class="fui-check"></i></button> 
						<button type="reset" class="btn btn-warning"><b>Reset</b> <i class="fui-play"></i></button> 
						<a href="{% url 'classes:classes' %}" type="button" class="btn btn-danger"><b>Cancel</b>  <i class="fui-cross"></i></a>  
					</div> 	
				</fieldset>
			</form>
	</div>
</div>
{% endblock %}