{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Teacher Add Classes
{% endblock %}


{% block content %}
 <head>
    <style>
		#myModal {    
		    width: 50%;
		    margin-left: -30%;
		    left: 55%;
		}
	</style>

  </head>
<body>
<div class="page-content">
	<div id="myModal" data-backdrop="static" data-keyboard="false" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <h3 id="myModalLabel">Send Invitation</h3>
	  </div>
	  <div class="modal-body">
	  		{% csrf_token %}
       		{{addClassForm.as_p}}
	  </div>
	  <div class="modal-footer">
	    <button class="btn btn-success" onClick="redirect()" >Send Invitation <i class="fui-check"></i></button>
	    <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Edit <i class="fui-new"></i></button>
	    <a class="btn btn-danger" href="{% url 'classes:classes' %}" >Cancel <i class="fui-cross"></i></a>
	  </div>
	</div>

		<div class="content">
			<img class="title-icons" src="{% static 'base/img/icons/plus.png' %}">
			<h3 class="title">Add New Class</h3>
				<form class="form-horizontal" action="/classes/submit/" method="post">{% csrf_token %}
						{% for form in addClassForm %}
							<div class="control-group">
								<label class="control-label" for="level">{{ form.label_tag }}</label>
								<div class="controls">
										<div class="span7">
											{{ form }}
											{% for error in form.errors %}
											<p class="text-error">{{ error }}</p>
											{% endfor %}
											{% if 'School' not in form.label_tag  %}
											<button type="button" data-toggle="tooltip" data-placement="right" title data-original-title="This is a link." onclick="add_more_text_box('add_more_div','add_more[]',child());" class="btn btn-primary mtm" ><i class="fui-plus"></i></button>	
											{% endif %}
									</div>
								</div>		
							</div> 	
						{% endfor %}	
							<div class="form-actions">
								<input type="hidden" value="{{ next_url }}" name="next_url" />
								<button type="submit" class="btn btn-primary"><b>Save</b><i class="fui-check"></i></button> 
								<button type="reset" class="btn btn-warning"><b>Reset</b><i class="fui-play"></i></button> 
								<a href="{% url 'classes:classes' %}" type="button" class="btn btn-danger"><b>Cancel</b><i class="fui-cross"></i></a>
								<a href="#myModal" role="button" data-toggle="modal" data-trigger="hover" data-placement="left" title data-original-title="Add New Class" class="btn btn-danger"><b>Lock</b><i class="fui-lock"></i></a>
							</div>		
				</form>
	</div>
</div>

</body>
{% endblock content %}