{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Teacher Classes
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="content">
		<p class="pull-right">
			<a href="{% url 'classes:edit' class_info.id %}" data-toggle="tooltip" data-trigger="hover" data-placement="left" title data-original-title="Edit Class" class="btn btn-warning"><i class="fui-new"></i></a>
		</p>
		<img class="title-icons" src="{% static 'base/img/icons/Pocket@2x.png' %}">
		<h3 class="title">{{ class_info.year_level }}-{{ class_info.section }} : {{ class_info.subject }} (S.Y. {{class_info.academic_year}})</h3>
		{% if class_info.student.all.count %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="10"><center>#</center></th>
					<th width="32"><center>Last Name</center></th>
					<th width="32"><center>First Name</center></th>
					<th width="15"><center>Email</center></th>
					<th width="11"><center>Status</center></th>
				</tr>
			</thead>
			<tbody>
				{% for student in class_info.student.all %}
					<tr>
						<td><center>{{student.id}}</center></td>
						<td><center>{{student.user.last_name}}</center></td>
						<td><center>{{student.user.first_name}}</center></td>
						<td><center>{{student.user.email}}</center></td>
						{% if student.user.is_active %}
						<td style="color:#1abc9c"><center>Active</center></td>
						{% else %}
						<td style="color:red"><center>inctive</center></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<div class="alert alert-block alert-error">
	          <h4><strong>Oops!</strong></h4>
	          There are no Students yet here.
	        </div>
		{% endif %}
	</div>
</div>
<script>
	function add_more_text_box(parent_id, child_name, child_id)
	{
	  var myTable = document.getElementById(parent_id);
	  var oDiv, oInput, sss;
	  oDiv = document.createElement('div');
	  oDiv.setAttribute('id', 'part'+ child_id);
	  
	  oDiv.setAttribute('class', 'control-group');
	  myTable.appendChild(oDiv);
	
	  oInput = document.createElement('input');
	  oInput.setAttribute('type', 'text');
	  oInput.setAttribute('required', true);
	  oInput.setAttribute('name', child_name);
	  oInput.setAttribute('id', child_id);
	  oInput.setAttribute('placeholder', 'Required');
	  oInput.setAttribute('class', 'span3');
	  oDiv.appendChild(oInput);
	} 
	
	var child_id = 1;
	function child()
	{ 
		return child_id++;
	}	
</script>
{% endblock content %}