{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Home
{% endblock %}

{% block content %}
<head>
	<script src="{% static 'base/js/jquery.min.js' %}"></script>
	<script>
	    $(function() {
		    var tooltips = $( "[title]" ).tooltip();
		    $(document)(function() {
		    	tooltips.tooltip( "open" );
		    })
	    });
	</script>
</head>
<div class="page-content">
	<div class="row-fluid">
		<div class="content">
			<p class="pull-right">
				<a href="{% url 'classes:add' %}" data-toggle="tooltip" data-placement="left" title data-original-title="Enroll to a Class" class="btn btn-warning"><i class="fui-cmd"></i></a>
			</p>
			<img class="title-icons" src={% static 'base/img/icons/Clipboard@2x.png' %}>
			<h3 class="title">My Classes</h3>
			{% if hasClasses %}
				<div class="alert alert-block alert-error">
		          <h4><strong>Oops!</strong></h4>
		          {{ hasClasses }}
		        </div>
		    {% else %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th><center>#</center></th>
						<th><center>Class Name</center></th>
						<th><center>Subject</center></th>
						<th><center>Teacher</center></th>
						<th><center>Academic Year</center></th>
						<th><center>Status</center></th>
						<th><center></center></th>
					</tr>
				</thead>
				<tbody>
					{% for section in sections %}
					<tr>
						<td><center>{{section.id}}</center></td>
						<td><center>{{section.year_level}} - {{section.section}}</center></td>
						<td><center>{{section.subject}}</center></td>
						<td><center>{{section.teacher.user.last_name}}, {{section.teacher.user.first_name}}</center></td>
						<td><center>{{section.academic_year}}</td>
						{% if section.is_active %}<td style="color:#1abc9c"><center>Active</td>
						{% else %}<td style="color:red" ><center>Inactive</td>{% endif %}
						<td><center><a>View</a></center></td>
					</tr>	
					{% endfor %}			
				</tbody>
			</table>
			{% endif %}
	</div>
</div>
{% endblock %}