{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Home
{% endblock %}

{% block content %}
<div class="page-content">
	<div class="row-fluid">
		<div class="content">
			<p class="pull-right">
				<a href="{% url 'classes:edit' studentList.id %}" data-toggle="tooltip" data-trigger="hover" data-placement="left" title data-original-title="Add New Class" class="btn btn-warning"><i class="fui-new"></i></a>
			</p>
			<img class="title-icons" src={% static 'base/img/icons/Pocket@2x.png' %}>
			<h3 class="title">{{ studentList.year_level }}-{{ studentList.section }}: {{ studentList.subject }} for (S.Y. {{ studentList.academic_year }})</h3>
			<table class="table table-striped">
			<thead>
				<tr>
					<th><center>#</center></th>
					<th><center>Last Name</center></th>
					<th><center>First name</center></th>
					<th><center>Email</center></th>
					<th><center>Status</center></th>
					<th><center>Remove</center></th>
				</tr>
			</thead>
			<tbody>
				{% for student in studentList.student.all %}
				<tr>
					<td><center>{{student.id}}</center></td>
					<td><center>{{student.user.last_name}}</center></td>
					<td><center>{{student.user.first_name}}</center></td>
					<td><center>{{student.user.email}}</center></td>
					<td>{% if student.user.is_active %}<center style="color:#1abc9c">Active</center>
					{% else %}<center style="color:red">Inactive</center></td>{% endif %}
					<td><center><a href="{% url 'classes:delete' studentList.id %}" onclick="return confirm('Are you sure you want to delete this class?')" class="btn btn-danger"><span class=""><i class="fui-cross"></i></span></a></center></td>
				</tr>	
				{% endfor %}			
			</tbody>
		</table>
	</div>
</div>
{% endblock %}