{% extends "base/base_error.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}

	<div class="hero-unit center palette-sun-flower">
		<div class="error-message">
			<h1>Sorry, we can't find<br>what you are looking for.</h1>
			<br>
			<p>Looks like that the page you are looking doesn't exist like unicorns. This is sad. Don't worry, we'll fix things up.</p>
			<a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
		</div>

	</div>

{% endblock %}
