{% extends "base/base_error.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
<html lang="en">
	<head>
	    <title>Page unavailable</title>
	</head>
	<body>
		<div class="hero-unit center palette-sun-flower">
			<div class="error-message">
			    <h1>Oh Snap!<br>Something went wrong.</h1>
				<p>Don't worry, we're not being attacked by unicorns. Just press this neat little button below while we fix things up.</p>
			    <p>Our engineers have been notified, so check back later.</p>
			    <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Return at Log-in Page</a>
			</div>
		</div>
	</body>
</html>

{% endblock %}