{% extends "base/base_register.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Register
{% endblock %}

{% block register %}	
	<h3>TECS: Test Essay Checking Software</h3>
	<div class="login-form">
	{% csrf_token %}

	{% if form.errors %}
	    <p class="text-error">Invalid input. Please try again.</p>
	{% endif %}
	<form action = "" method = "post" class="form-horizontal">
		{% csrf_token %}
		<div class="control-group">
			<label class="control-label" for="fName">Username</label>
			<div class = "controls">
				{{ form.username }}
			</div>
		</div>
		<!--<div class="control-group">
			<label class="control-label" for="fName">Name</label>
			<div class = "controls">
				<p>{{ RegistrationForm.first_name }}</p>
				<p>{{ RegistrationForm.last_name }}</p>
			</div>
		</div>-->
		<div class="control-group">
			<label class="control-label" for="fName">Password</label>
			<div class = "controls">
				{{ form.password1 }}
		{% if form.errors %}
		    <p class="text-error">Invalid input. Please try again.</p>
		{% endif %}
		<form action = "" method = "post" class="form-horizontal">
			{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="fName">Username</label>
				<div class = "controls">
					{{ form.username }}
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="fName">Retype Password</label>
			<div class = "controls">
				{{ form.password2 }}
			</div>
		</div>	
		<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		<a href="/" class="btn btn-lg btn-danger btn-block" type="button">Cancel</a>
	</form>
	</div>
			<div class="control-group">
				<label class="control-label" for="fName">Retype Password</label>
				<div class = "controls">
					{{ form.password2 }}
				</div>
			</div>	
			<button class="btn btn-lg btn-inverse btn-block" type="submit">Submit</button>
			<a href="/" class="btn btn-lg btn-primary btn-block" type="button">Cancel</a>
		</form>
  	</div>
  </div>
</div>
{% endblock %}