{% load staticfiles %}

{% block content %}
		<div style="background-color: #1abc9c; color: #34495e; font-family: 'Lato', sans-serif; line-height: 1.231; font-size: 14px;">
			<center>
				<img style="max-height: 50px; min-height: 50px; float: none; text-align: -webkit-center; max-width: 100%; vertical-align: middle; border: 0; padding-bottom:3px; padding-top:5px; margin-right: -5px" src="cid:image1">

        		<a href="#" type="button" style="font-weight: 500; background-repeat: repeat-x; font-size: 14.994px; border: none; -webkit-backface-visibility: hidden; transition: 0.25s; -o-transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s; line-height: 22px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: none; -moz-box-shadow: none; text-shadow: none; box-shadow: none; text-decoration: none; background: #bdc3c7; color: #ffffff; padding: 9px 12px 10px; background-color: #1abc9c;"><b>New Exam has been Started!</b></a>
        	</center>
     	</div>

      <div style="padding: 7px; border: 2px solid; font-family: 'Lato', sans-serif; line-height: 1.231; font-size: 14px; border-color: #1abc9c; padding-right: 20px;">
        	{{ user.last_name }}, {{ user.first_name }} has sent an exam in class {{ class }} entitled "{{ title }}".<br/><br/><br/>

        	Please <a href="tecs.herokuapp.com" style="color: #1abc9c; text-decoration: none;">Log-in</a> or Register to <a href="http://tecs.herokuapp.com/accounts/register/" style="color: #1abc9c; text-decoration: none">tecs.herokuapp.com</a> to start the examination.
      </div>
{% endblock %}