{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Home
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="content">
		<img class="title-icons" src="{% static 'base/img/icons/Pensils@2x.png' %}">
		<h3>On-going Exams</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="15%">Class</th>
					<th width="20%">Teacher</th>
					<th width="20%">Essay</th>
					<th width="15%">Deadline</th>
					<th width="10%">Duration</th>
					<th width="20%">Status</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				{% for essay in essays %}
				<tr>
					<td>{{ essay.class_name }}</td>
					<td>{{ essay.instructor }}</td>
					<td>{{ essay.title }}</td>
					<td>{{ essay.deadline }}</td>
					<td>{{ essay.duration_hours }} hour(s) {% if essay.duration_minutes != 0 %}{{ essay.duration_minutes }} minute(s) {% endif %} </td>
					<td><center><a href="#">View</a></center></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
