{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Essay
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="content">
		<div class="row-fluid">
			<img class="title-icons" src="{% static 'base/img/icons/Clipboard@2x.png' %}">
			<h3>Essay Submissions</h3>
		</div>
		<hr>
		<div class="row-fluid">
			<dl class="dl-horizontal">
				<dt>Essay Title</dt>
				<dd>{{ essay.title }}</dd>

				<dt>Class</dt>
				<dd>{{ essay.class_name }}</dd>

				<dt>Instructions</dt>
				<dd>{{ essay.instructions }}</dd>

				<dt>Min no. of words</dt>
				<dd>{{ essay.min_words }}</dd>		

				<dt>Start Date</dt>
				<dd>{{ essay.start_date }}</dd>

				<dt>Deadline</dt>
				<dd>{{ essay.deadline }}</dd>

				<dt>Duration</dt>
				<dd>{{ essay.duration_hours }} hour(s) {{ essay.duration_minutes }} minute(s) </dd>
				
			</dl>
		</div>
		<div class="row-fluid">
			<div class="span8">
				<table class="table table-striped">
					<thead>
						<tr>
							<th width="20%">Student</th>
							<th width="20%">Status</th>
							<th width="10%">Grade</th>
							<th width="15%">Submisson</th>
						</tr>
					</thead>
					<tbody>
						{% for essay_response in essay_responses %}
						<tr>
							<td>{{ essay_response.student }}</td>
							<td>{% if essay_response.status != 2 %} No response yet {% endif %}</td>
							<td>{% if essay_response.grade == null %} -- {% endif %}</td>
							<td><a href="" class="btn btn-info {% if essay_response.status == 0 %} disabled {% endif %} ">View</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<p class="pull-left">
			<a href="{% url 'essays:list' %}" class="btn btn-inverse"><span class="fui-arrow-left"></span> Back</a>
		</p>
	</div>
</div>
{% endblock %}
