{% extends "base/base_settings.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Teacher Classes
{% endblock %}

{% block content %}
<div class="page-content">
	<div class="row-fluid">
		<div class="span8 content">
			<img class="title-icons" src="{% static 'base/img/icons/password_manager.png' %}">
			<h3 class="title">Change Password</h3>

			{% if error %}
				<div class="alert alert-block alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4><strong>Oops!</strong></h4> {{ error }}
				</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4><strong>Success!</strong></h4> {{ success }}
				</div>
			{% endif %}

			<section>
				<form class="form-horizontal" action="{% url 'auth:edit_password' %}" method="post">	{% csrf_token %}
					<fieldset>	
						{% for forms in form %}
						<div class="control-group">
							<label class="control-label" for="newPassword">{{ forms.label_tag }}</label>
							<div class="controls">
								{{ forms }}
								{% for error in forms.errors %}
								<p class="text-error">{{ error }}</p>
								{% endfor %}
							</div>	
						</div> 
						{% endfor %}
						<div class="form-actions">	
							<button type="submit" class="btn btn-primary"><b>Update Password</b> <i class="fui-lock"></i></button> 
							<button type="reset" class="btn btn-warning"><b>Reset</b> <i class="fui-play"></i></button>	 
						</div>	 	
					</fieldset>
				</form> 
			</section>
		</div>
	</div>
</div>


{% endblock content %}