{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Teacher Classes
{% endblock %}

{% block content %}
<div class="page-content">
  <div class="span11">
    <div class="row-fluid">
      <div class="span12 content">

        {% if error %}
          <div class="alert alert-error">
                <strong>Warning!</strong> {{ error }}
              </div>
        {% endif %}
        
        <img class="title-icons" src="{% static 'base/img/icons/user.png' %}">
        <h3 class="title">Change Password</h3>
      	<section>
             	<div class="page-header">
             		<br/>
                  <h1>{{user_info.user.last_name}}, {{user_info.user.first_name}}</h1>
             	</div>
              <form class="form-horizontal" action="{% url 'auth:reset' %}" method="post">  {% csrf_token %}
                  <fieldset>	
                    {% for forms in form %}
                    <div class="control-group">
                        <label class="control-label" for="newPassword">{{ forms.label_tag }}</label>
                        <div class="controls">
                          {{ forms }}
                        </div>  
                    </div> 
                    {% endfor %}
                    <div class="form-actions">  
                      <button type="submit" class="btn btn-primary"><b>Save</b> <i class="fui-check"></i></button> 
                      <button type="reset" class="btn btn-warning"><b>Reset</b> <i class="fui-play"></i></button> 
                      <a href="{% url 'auth:profile' %}" type="button" class="btn btn-danger"><b>Cancel</b>  <i class="fui-cross"></i></a>  
                    </div>   
                    
                    
                  </fieldset>
              </form> 
          </section>
        </div>
      </div>  
    </div>    
 </div>
</body>
{% endblock content %}