{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Teacher Classes
{% endblock %}

{% block content %}
<head>
  <script src="{% static 'base/js/jquery.min.js' %}"></script>

  <script>
      $(function() {
        var tooltips = $( "[title]" ).tooltip();
        $(document)(function() {
          tooltips.tooltip( "open" );
        })
      });
  </script>
  
</head>
<div class="page-content">
    <div class="row-fluid">
      <div class="content">
        
        <img class="title-icons" src="{% static 'base/img/icons/user.png' %}">
        <h3 class="title">Change Password</h3>

        {% if error %}
          <div class="alert alert-block alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4><strong>Oops!</strong></h4> {{ error }}
          </div>
        {% endif %}
        {% if success %}
          <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4><strong>Success!</strong></h4> {{ success }}
          </div>
        {% endif %}

        <section>
              <div class="page-header">
                  <h1>{{user_info.user.last_name}}, {{user_info.user.first_name}}</h1>
              </div>
              <form class="form-horizontal" action="{% url 'auth:edit_password' %}" method="post">  {% csrf_token %}
                  <fieldset>  
                    {% for forms in form %}
                    <div class="control-group">
                        <label class="control-label" for="newPassword">{{ forms.label_tag }}</label>
                        <div class="controls">
                          {{ forms }}
                          {% for error in forms.errors %}
                          <p class="text-error">{{ error }}</p>
                          {% endfor %}
                        </div>  
                    </div> 
                    {% endfor %}
                    <div class="form-actions">  
                      <button type="submit" class="btn btn-primary"><b>Update Password</b> <i class="fui-lock"></i></button> 
                      <button type="reset" class="btn btn-warning"><b>Reset</b> <i class="fui-play"></i></button>   
                    </div>   
                    
                    
                  </fieldset>
              </form> 
          </section>
          {% if power %}
          <br/>
          <p class="pull-right">
            <a href="#myModal" role="button" data-toggle="modal" data-trigger="hover" data-placement="left" title data-original-title="Add New Grading System" class="btn btn-warning"><i class="fui-plus"></i></a>
          </p>
          <img class="title-icons" src="{% static 'base/img/icons/Book@2x.png' %}">
          <h3 class="title">Grading Systems</h3>
          {% if gradingSystem.count > 0 %}
          <section>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10%"><center>#</center></th>
                    <th style="width: 36%"><center>Name</center></th>
                    <th style="width: 36%"><center>Description</center></th>
                    <th style="width: 7%"><center>View</center></th>
                    <th style="width: 7%"><center>Delete</center></th>
                  </tr>
                </thead>
                <tbody>
                    {% for gradeSys in gradingSystem %}
                      <tr>
                        <td><center>{{forloop.counter}}</center></td>
                        <td><center>{{gradeSys.gradeName}}</center></td>
                        <td><center>{{gradeSys.description}}</center></td>
                        <td><center><a href="# gradeSys.id" class="btn btn-primary"><span class=""><i class="fui-location"></i></span></a></center></td>
                        <td><center><a href="{% url 'auth:deleGradeSys' gradeSys.id %}" onclick="return confirm('Are you sure you want to delete this Grading System?')" class="btn btn-danger"><span class=""><i class="fui-cross"></i></span></a></center></td>
                      </tr>
                    {% endfor %}
                </tbody> 
              </table>
          </section>
          {% else %}
            <div class="alert alert-block alert-error">
              <h4><strong>Oops!</strong></h4> No Grading Systems added yet.
            </div>
          {% endif %}
          {% endif %}
        </div>
      </div> 

    <form class="form-inline" action="{% url 'auth:saveGrades' %}" method="post">{% csrf_token %}
      <div id="myModal" data-backdrop="static" data-keyboard="false" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <h3 id="myModalLabel">Add Grading System</h3>
        </div>
        <div class="modal-body">
          {% for form in formSys %}
          <div class="control-group">
            <div class="controls">
              {{ form }}
              {% for error in form.errors %}
              <p class="text-error">{{ error }}</p>
              {% endfor %}
            </div>    
          </div>  
          {% endfor %}
          
          <div class="alert alert-success">
            The rankings of the grades are base on the first input you set.
          </div>

          <table class="table table-bordered" id="myTable">
            <thead>
              <tr>
                <th><center>Grade Name</center></th>
                <th><center><button type="button" onClick="addRow('myTable')" data-trigger="hover" data-placement="left" onclick="addRow(myTable)" title data-original-title="Add more Grade Name fields" class="btn btn-mini btn-primary"><i class="fui-plus"></i></button></center></th>
              </tr>
            </thead>
            <tbody>
              <tr id = "1">
                  {% for forms in formGrade %}
                      <td>{{ forms }}</td>
                  {% endfor %}
                  <td><center><button type="button" onClick="deleteRow(this)"class="btn btn-mini btn-danger"><i class="fui-cross"></i></button></center></td>
              </tr>
            </tbody>  
          </table>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save <i class="fui-check"></i></button>
            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel <i class="fui-new"></i></button>
        </div>
      </div> 
    </form>
 </div>
</body>

<script language="javascript">
  var i = 2;
  function addRow(myID) {
      var table = document.getElementById(myID);

      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);
      row.setAttribute('id', i)

      var cell1 = row.insertCell(0);
      var element1 = document.createElement("input");
      element1.setAttribute('type','text'); 
      element1.setAttribute('class','input-xlarge span4'); 
      element1.setAttribute('name','name'); 
      element1.setAttribute('placeholder','1.0');              
      cell1.appendChild(element1);     

      /*
      var cell2 = row.insertCell(1);
      var element2 = document.createElement("input");
      element2.type = "number";
      element2.setAttribute('class','input-xlarge span4 slide');
      element2.setAttribute('placeholder','1'); 
      element2.setAttribute('min',1); 
      element2.setAttribute('name','value'); 
      cell2.appendChild(element2);
      */

      var cell3 = row.insertCell(1);
      cell3.setAttribute('style', 'text-align:center')
      var element4 = document.createElement("icons");
      var element3 = document.createElement("button");

      element4.setAttribute('class','fui-cross'); 
      element3.appendChild(element4)
      element3.setAttribute('class','btn btn-mini btn-danger');
      element3.setAttribute('onclick', "deleteRow(this);");

      cell3.appendChild(element3);
      i++;
  }

  function deleteRow(el) {

    // while there are parents, keep going until reach TR 
    while (el.parentNode && el.tagName.toLowerCase() != 'tr') {
      el = el.parentNode;
    }

    // If el has a parentNode it must be a TR, so delete it
    // Don't delte if only 3 rows left in table
    //if (el.parentNode && el.parentNode.rows.length > 1) {
      el.parentNode.removeChild(el);
    //}
  }
  
</script>
<script src="{% static 'base/js/jquery.min.js' %}"></script>
{% endblock content %}