{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Grading System
{% endblock %}

{% block content %}
<div class="page-content">
	<div class="row-fluid">
		<div class="content">
          <p class="pull-right">
            <a href="#myModal" role="button" data-toggle="modal" data-trigger="hover" data-placement="left" title data-original-title="Add New Grade" class="btn btn-warning"><i class="fui-plus"></i></a>
          </p>
			<img class="title-icons" src="{% static 'base/img/icons/Clipboard@2x.png' %}">
			<h3 class="title">Grading System</h3>
	        {% if error %}
	          <div class="alert alert-block alert-error">
	            <button type="button" class="close" data-dismiss="alert">&times;</button>
	              <h4><strong>Oops!</strong></h4> {{ error }}
	          </div>
	        {% endif %}
			{% if success %}
				<br>
				<div class="alert alert-block alert-success">
		          <h4><strong>Success!</strong></h4> {{ success }}
		        </div>
		    {% endif %}
			
          {% if grades.count > 0 %}
          <section>
			<table class="table table-striped">
				<thead>
					<tr>
						<th><center>#</center></th>
						<th><center>Grade</center></th>
						<th><center>Value (From)</center></th>
						<th><center>Value (To)</center></th>
						<th><center>Delete</center></th>
					</tr>
				</thead>
				<tbody>
                    {% for grade in grades %}
						<tr>
							<td><center>{{forloop.counter}}</center></td>
							<td><center>{{grade.name}}</center></td>
							<td><center>{{grade.from_value}}</center></td>
							<td><center>{{grade.to_value}}</center></td>
							<td><center><a href="{% url 'auth:deleGrade' grade.id %}" onclick="return confirm('Are you sure you want to delete this Grading System?')" class="btn btn-danger"><span class=""><i class="fui-cross"></i></span></a></center></td>
						</tr>
						{% endfor %}
				</tbody>
			</table>
		</section>
			{% else %}
            <div class="alert alert-block alert-error">
              <h4><strong>Oops!</strong></h4> No Grading Systems added yet.
            </div>  
          	{% endif %}
		</div>
	</div>

    <form class="form-inline" action="" method="post">{% csrf_token %}
      <div id="myModal" data-backdrop="static" data-keyboard="false" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <h3 id="myModalLabel">Add Grade</h3>
        </div>
        <div class="modal-body">
          <table class="table table-bordered" id="myTable">
            <thead>
              <tr>
                <th><center>Grade Name</center></th>
                <th><center>Value (From)</center></th>
                <th><center>Value (To)</center></th>
               <th><center><button type="button" onClick="addRow('myTable')" data-trigger="hover" data-placement="left" onclick="addRow(myTable)" title data-original-title="Add more Grade Name fields" class="btn btn-mini btn-primary"><i class="fui-plus"></i></button></center></th>
              </tr>
            </thead>
            <tbody>
              <tr>
              	<form action="." method = "POST">
              	{% for grade in grade_form %}
                  <td>{{ grade }}</td>	
                  {% endfor %}
                </form>
                  <td><center><button type="button" onClick="deleteRow(this)"class="btn btn-mini btn-danger"><i class="fui-cross"></i></button></center></td>
              </tr>
            </tbody>  
          </table>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save <i class="fui-check"></i></button>
            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel <i class="fui-new"></i></button>
            <input type="hidden" name="course_id" id="course_id" value="" />
        </div>
      </div> 
    </form>
</div>

<script language="javascript">
  var i = 2;
  function addRow(myID) {
      var table = document.getElementById(myID);

      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);
      row.setAttribute('id', i)

      var cell1 = row.insertCell(0);
      var element1 = document.createElement("input");
      element1.setAttribute('type','text'); 
      element1.setAttribute('class','input-xlarge span4'); 
      element1.setAttribute('name','name'); 
      element1.setAttribute('placeholder','1.0');              
      cell1.appendChild(element1);     

      var cell2 = row.insertCell(1);
      var element2 = document.createElement("input");
      element2.type = "number";
      element2.setAttribute('class','input-xlarge span4 slide');
      element2.setAttribute('placeholder','1'); 
      element2.setAttribute('min',1); 
      element2.setAttribute('name','from_value'); 
      cell2.appendChild(element2);

      var cell5 = row.insertCell(2);
      var element5 = document.createElement("input");
      element5.type = "number";
      element5.setAttribute('class','input-xlarge span4 slide');
      element5.setAttribute('placeholder','1'); 
      element5.setAttribute('min',1); 
      element5.setAttribute('name','to_value'); 
      cell5.appendChild(element5);

      var cell3 = row.insertCell(3);
      cell3.setAttribute('style', 'text-align:center')
      var element4 = document.createElement("icons");
      var element3 = document.createElement("button");

      element4.setAttribute('class','fui-cross'); 
      element3.appendChild(element4)
      element3.setAttribute('class','btn btn-mini btn-danger');
      element3.setAttribute('onclick', "deleteRow(this);");

      cell3.appendChild(element3);
      i++;
  }

  function deleteRow(el) {

    // while there are parents, keep going until reach TR 
    while (el.parentNode && el.tagName.toLowerCase() != 'tr') {
      el = el.parentNode;
    }

    // If el has a parentNode it must be a TR, so delete it
    // Don't delte if only 3 rows left in table
    //if (el.parentNode && el.parentNode.rows.length > 1) {
      el.parentNode.removeChild(el);
    //}
  }
  
</script>
<script src="{% static 'base/js/jquery.min.js' %}"></script>
{% endblock content %}