{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Teacher Classes
{% endblock %}

{% block content %}
<head>
	<script src="{% static 'base/js/jquery.js' %}"></script>
	<script src="{% static 'base/js/bootstrap.js' %}"></script>
	<script src="{% static 'base/js/bootstrap-filestyle.js' %}"></script>

    <script type="text/javascript">
        $(window).on('load', function () {
        	$(":file").filestyle({'classInput': "span3",'style':"margin-top: 10px"});
        });
    </script>
</head>
<div class="page-content">
	<div class="row-fluid">
		<div class="content">
			{% if success %}
				<div class="alert alert-success">
		          <strong>Success!</strong> {{ success }}
		        </div>
			{% endif %}

			<img class="title-icons" src="{% static 'base/img/icons/user.png' %}">
			<h3 class="title">My Profile</h3>
			<form enctype="multipart/form-data" class="form-horizontal" action="{% url 'auth:profile' %}" method="post">{% csrf_token %}
				<fieldset>
					{% for form in formProfile %}
					<div class="control-group">
						<label class="control-label" for="email">{{ form.label_tag }}</label>
						<div class="controls">
							{{form}}
							{% for error in form.errors %}
							<p class="text-error">{{ error }}</p>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
					<div class="form-actions">	
						<button type="submit" class="btn btn-primary"><b>Save Changes</b> <i class="fui-user"></i></button> 	
					</div>	
				</fieldset>
			</form>
		</div>
	</div>
</div>
	<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
{% endblock content %}